<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Delayed Me</title>
	
</head>

<body>

<p>Hello {{user}}!</p>

<p>This is a service that would remind you of whenever you need</p>

{% if notifications %}
	<p>Your notifications are
		<ul>
			{% for notification in notifications %}
			<li>
				{{notification.fire_time}} - {{notification.subject}}
			</li>
			{% endfor %}
		</ul>
	</p>
{% else %}
	<p>You don't have any notifications.
{% endif %}

</body>
</html>
